<!DOCTYPE html>
<html lang="en">
    <%- include('./partiels/head.ejs') %>

<body>
    <%- include('./partiels/nav.ejs') %>

    <div class="About content">
        <h2>ABout us</h2>
        <p>Lorem ipsum dolor sit amet consecter adipisicing elit. Consequatur pariatur itaque suscipit labore qui dicta impedit laudantium quasi ipsum, rem placeat, maxime tempora at. Consequuntur ex qui dolorem ipsum iste.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ctuonsequatur pariatur itaque suscipit labore qui dicta impedit laudantium quasi ipsum, rem placeat, maxime tempora at. Consequuntur ex qui dolorem ipsum iste.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur pariatur itaque suscipit labore qui dicta impedit laudantium quasi ipsum, rem placeat, maxime tempora at. Consequuntur ex qui dolorem ipsum iste.</p>
    </div>
</body>
<%- include('./partiels/footer.ejs') %>
</html>